* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
body{
    background-color: #e3c6f8;
}

.logo {
    width: 100px;
    height: 100px;
}

.marca {
    font-size: 60px;
    color: white;
}

#Toys {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    background-color: #6b07ad;
    width: 100%;
    height: 150px;
}

.sobre,
.inicio,
.cadastro {
    color: #fa9c20;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100px;
    padding: 8px 8px 8px 8px;
    margin-top: 110px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.sobre:hover,
.inicio:hover,
.cadastro:hover {
    background-color: #9b4fd1;
    color: #ff8c00;
    border-radius: 8px;

}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    margin-top: 10px;
    color: #ff8c00;
    font-size: 20px;
}
#informacao {
    width: 500px;
    height: 720px;
    padding: 20px;
    font-size: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 8px 8px 10px rgba(255, 140, 0, 0.4), 
                -8px -8px 10px rgba(155, 79, 209, 0.4);
    margin: 10px auto;
}   
#foto {
    width:140px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
}
h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}
h3 {
    text-align: center;
    font-size: 16px;
    color: #333333;
    margin-bottom: 20px;
}
p{
    text-align: left;
    line-height: 1.5;
}
p1{
    text-align: left;
    line-height: 1.8;
    color: #333333;
}