* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
body{
    background-color: #f8bc6d;
}

.logo {
    width: 100px;
    height: 100px;
}

.marca {
    font-size: 60px;
    color: white;
}

#Toys {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    background-color: #6b07ad;
    width: 100%;
    height: 150px;
}

.sobre,
.inicio,
.cadastro {
    color: #fa9c20;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100px;
    padding: 8px 8px 8px 8px;
    margin-top: 110px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.sobre:hover,
.inicio:hover,
.cadastro:hover {
    background-color: #9b4fd1;
    color: #ff8c00;
    border-radius: 8px;

}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-produto {
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
    gap: 30px;
    align-items: flex-start;
}
.uno{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
.descrição{
    width: 500px;
    background-color: #fff;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
h1 {
    text-align: center;
    margin-top: 10px;
    color: #ff8c00;
    font-size: 30px;
}
h2 {
    font-size: 30px;
    margin-top: 20px;
}
h3{
  color: #302f2f;
  font-weight: bold;
}
p {
    font-size: 18px;
    color: #585757;
}