* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
body{
    background: linear-gradient(to bottom,#b866f3, #f1a241 );
    min-height: 100vh;
    margin: 0;
}

.logo {
    width: 100px;
    height: 100px;
}

.marca {
    font-size: 60px;
    color: white;
}

#Toys {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    background-color: #6b07ad;
    width: 100%;
    height: 150px;
}

.sobre,
.inicio,
.cadastro {
    color: #fa9c20;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100px;
    padding: 8px 8px 8px 8px;
    margin-top: 110px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.sobre:hover,
.inicio:hover,
.cadastro:hover {
    background-color: #9b4fd1;
    color: #ff8c00;
    border-radius: 8px;

}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-produto {
    display: flex;
    margin: 50px auto 0;
    gap: 30px;
    align-items: flex-start;
    max-width: fit-content;
}
.uno{
    width: 240px;
    height: 240px;
    border-radius: 15px;
}
.descrição{
    width: 400px;
    height: 300px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
    border-radius: 15px;
    
}

h1 {
    text-align: center;
    margin-top: 10px;
    color: #ff8c00;
    font-size: 30px;
}
h2 {
    font-size: 30px;
    margin-top: 20px;
}
h3{
  color: #302f2f;
  font-weight: bold;
}
p {
    font-size: 18px;
    color: #686666;
}

.button {
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    width: 670px;
}

.botao-comprar {
    background-color: #07ad52;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.botao-comprar:hover {
    background-color: #05863b;
}